<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Ldap Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <div>
        <h1>Welcome!</h1>
        <h2>
            User: <span th:text="${#authentication.name}"></span>
        </h2>
    </div>
</div>

</body>
</html>